body {
    background-color: rgb(22, 96, 114);
}
.bg-1{
    background-color: aqua;
    height:200px;
    width:100%;
    border: 2px dotted yellow;
}

.bg-2{
    background-color: rgb(22, 185, 16);
    height:200px;
    width:100%;
    border: 2px dotted rgb(145, 145, 20);
}
.bg-3{
    background-color: rgb(185, 16, 120);
    height:200px;
    width:100%;
    border: 2px dotted rgb(152, 112, 206);
}

























/*    Hover Data*/
.bg-1:hover{
    background-color: rgb(114, 146, 146);
    height:200px;
    width:100%;
    border: 2px dotted rgb(27, 10, 124);
}
.bg-2:hover{
    background-color: rgb(8, 22, 7);
    height:200px;
    width:100%;
    border: 2px dotted rgb(173, 173, 100);
}
.bg-3:hover{
    background-color: rgb(145, 5, 5);
    height:200px;
    width:100%;
    border: 2px dotted rgb(145, 72, 24);
}
