h1{
    border: 2px solid red;
    background-image: linear-gradient( red, green, blue );
}
h2{
    border: 2px dashed rgb(98, 0, 255);
    background-image: linear-gradient( red, green, blue );
}
h3{
    border:2px dotted rgb(137, 172, 13);
}
p{
    border: 2px double rgb(216, 10, 165);
    background-image: linear-gradient( red, green, blue );
}

h1:hover{
    border: 2px solid rgb(217, 185, 224);
    background-image: linear-gradient( rgb(137, 143, 136), rgb(146, 150, 146), rgb(83, 83, 94) );
}
h2:hover{
    border: 2px dashed rgb(23, 184, 149);
    background-image: linear-gradient( :hoverrgb(204, 136, 136), green, rgb(171, 171, 224) );
}
h3:hover{
    border: 2px dotted rgb(121, 156, 167);
    background-image: linear-gradient( rgb(143, 73, 73), rgb(53, 83, 53), rgb(213, 213, 223) );
}
p:hover{
    border: 2px double rgb(49, 150, 19);
    background-image: linear-gradient( rgb(173, 159, 159), rgb(167, 190, 167), rgb(157, 157, 184) );
}


