/* h1{
    border:solid;
}

h1{
    border:solid rgb(211, 10, 10) 3px;
}


h1{
    border:solid rgb(174, 211, 10) 3px;
}
 */

h1{
    border:solid rgb(10, 204, 211) 3px;
}


p{
    border: 10px rgb(180, 108, 108) solid;
}

/* border-color */


h2{
    border: 3px solid rgb(26, 157, 167);
}

h3{


    height: 100px;
    text-align: center;
    width: 100px;
    padding:40px;
    margin-top:40px;    
    border : solid ;
    border-radius:360px;
}






h4{
    border-left:solid;
    border-top:dotted;
    border-bottom: double;
    border-right: dashed;
}