*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cla h1{
    display: inline-block;
    color: #534c4c;
    margin: 0 0 0 100px ;
    padding: 50px 0px 0px 120px;}
.cla2 h2{
    position: relative;
    padding: 30px;
    margin:  0 0 0 109px;
display: inline-block;
}
.main .iteams{
    margin: 0 0 0 110px;
    position: relative;
    display: inline-block;
}
.cla3 a{
display: inline-block;
margin: 40px 0px 0px 128px;
text-decoration: none;
border: 1px solid transparent;
background: rgb(9, 211, 211);
padding: 20px;
color: #fff;
}
.work{
    margin: 80PX;
    /* text-align: center; */
}
